<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Workout Tracker</title>
        <link rel="stylesheet" href="Stylesheets/style.css" type="text/css">
    </head>
    <body>
        <div id="header">Workout Tracker</div>
        {{{body}}}
    </body>
</html>